
/*-----------------------------------------------
Template Style
Name:     My Design
Designer: @Suvernet
URL:      https://suver.ru
----------------------------------------------- */

/* Content
----------------------------------------------- */
body {
  background: linear-gradient(169deg, #578ea357, #ffc0cb5e);
  height: 100vh;  
  font: normal normal 15px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
  color: #dbdbdb;
  
}
